server:
  port: 9090
#  tomcat:
#    maxHttpHeaderSize: 10240000
#    maxHttpPostSize: 10240000
spring:
  servlet:
    multipart:
      max-file-size: 30Mb
      max-request-size: 30Mb
  datasource:
    type: com.alibaba.druid.pool.DruidDataSource
    druid:
      driver-class-name: com.mysql.jdbc.Driver
      url: jdbc:mysql://120.76.161.188:3306/net_cart?useUnicode=yes&characterEncoding=utf8
      username: root
#      password: 43997k7k
      password: 4!159td3q=b$9
      # 初始化时建立的连接数
      initial-size: 5
      # 最大连接数
      max-active: 50
      # 最小连接数
      min-idle: 5
      # 获取连接最大等待时间，单位：毫秒
      max-wait: 2000
      # 是否缓存preparedStatement
      pool-prepared-statements: false
      # 最大preparedStatement缓存数，当pool-prepared-statements=true时需要大于0
      max-pool-prepared-statement-per-connection-size: -1
      # 检测连接是否失效的sql
      validation-query: SELECT 'x'
      # 检测连接是否失效的超时时间，单位：秒
      validation-query-timeout: 2
      filters: stat,wall,log4j2,config
      time-between-log-stats-millis: 604800000
#      connection-properties: config.decrypt=true;config.decrypt.key=MFwwDQYJKoZIhvcNAQEBBQADSwAwSAJBAI0Q56HOXI2Z33kNpgOxvMbaE7BRUw0pZMLPZA0Pe+J/6R7Cq97BUCDygkzL7evUfQmPprNh6KKaSKXV0dBVghcCAwEAAQ==
      # Spring aop监控的包路径
      aop-patterns: com.network.driver.persistence.dao.*
      filter:
        config:
          enabled: true
        # 监控统计
        stat:
          enabled: true
          db-type: mysql
          # 打印慢sql
          log-slow-sql: true
          # 超过500毫秒即为慢sql
          slow-sql-millis: 500
        # sql防火墙
        wall:
          enabled: true
          db-type: mysql
          # 对认定的攻击sql进行日志输出
          log-violation: true
          # 对认定的攻击sql抛出异常
          throw-exception: true
          config:
            # 是否允许下述操作
            alter-table-allow: false
            truncate-allow: false
            drop-table-allow: false
            update-where-none-check: true
            # metadata会暴露数据的表结构
            metadata-allow: false
        # 日志
        log4j2:
          enabled: true
          # log4j2仅记录druid的sql执行日志
          statement-log-enabled: false
          connection-log-enabled: false
          result-set-log-enabled: false
          statement-executable-sql-log-enable: true
      # 数据库连接池监控统计插件
      web-stat-filter:
        enabled: true
        url-pattern: /*
        # 过滤掉如下请求
        exclusions: '*.gif,*.png,*.jpg,*.html,*.js,*.css,*.ico,/druid/*'
      # 数据库连接池监控页面插件
      stat-view-servlet:
        enabled: true
        url-pattern: '/druid/*'
        reset-enable: true
        login-username: admin
        login-password: admin
        allow:
        deny:

  # 设置cglib代理模式，防止非接口代理出错
  aop:
    proxy-target-class: true

# mybatis映射文件路径
mybatis:
  mapper-locations: classpath:Mapper/*.xml
  type-aliases-package: com.network.driver.common.domain
  configuration:
    mapUnderscoreToCamelCase: true
# 日志配置文件
logging:
  config: classpath:log4j2.xml

# 分页配置
pagehelper:
  helper-dialect: mysql
  reasonable: true
  support-methods-arguments: true
  params: count=countSql

# jwt自定义属性配置
jwt:
  config:
    # 过期时间，单位：毫秒
    expiry: 1800000
    # 签发者
    issuer: greedystar
    # 密钥
    base64Security: greedystar_base64Security

weixin:
  appId: wxeb78b3b925ff9dd8
  secret: 654cf6056c5e8161adde325e409577dd
  token: wonskd113n
  aesKey: lRE3qfnBHxqzBE5i12v6CzU257ERsOIeMKqfDPdFu5c
